body {
  background-color: #bcddd6;
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

input {
  font-size: 20px;
  padding: 5px;
  margin-left: 100px;
  width: 500px;
  height: 40px;
  background-color: #c5e3e4;
}

input::placeholder {
  color: gray;
  font-style: italic;
  opacity: 1;
}

.search {
  display: flex;          
  align-items: flex-end;  /* Aligns the bottom of the bar and dropdown */
  /* gap: 250px;*/
}

button {
  font-size: 20px;
  padding: 5px;
  margin-left: 20px;
  width: 120px;
  height: 52px;
  background-color: #c5e3e4;
}

#dropdown {
  font-family: 'Cabin', sans-serif;
  margin-bottom: 10px;
}

#dropdown label {
  font-weight: bold;
  color: #333;
  font-size: 20px;
  margin-left: 80px;
}

#cuisines {
  font-size: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  height: 40px;
}

#recipes {
  background-color: #e7e8f4;
  float: left;
  height: 700px;
  width: 1400px;
  margin-left: 100px;
  margin-top: 20px;
  overflow-y: auto;
}

#liked {
  background-color: #e7e8f4;
  float: right;
  height: 700px;
  width: 275px;
  margin-top: 20px;
  margin-right: 100px;
  overflow-y: auto;
}

h2 {
  margin-left: 20px;
}